<!DOCTYPE html>
<html lang="en">
<head>
    <title>test locator-handlebars</title>
</head>
<body>
    <h1>partial `baz` rendered at the client side: </h1>

    <div id="barclient">{{>baz}}</div>

    {{#if people}}
	    {{>people-partial}}
	{{/if}}
</body>
</html>
