<!DOCTYPE html>
<html lang="en">
<head>
    <title>test locator-handlebars</title>
</head>
<body>
    <h1>nopartial `bar` rendered at the client side: </h1>

    <div id="barclient">{{bar}}</div>

</body>
</html>
